:root {
    scroll-behavior: smooth;
}

.scroll-box {
    width: 100%;
    height: 295px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.scroll-box::-webkit-scrollbar {
    width: .4em;
}

.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
    scroll-behavior: smooth;
    overflow: visible;
    border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
}

.cover-bar {
    position: absolute;
    background: #fff;
    ;
    height: 100%;
    top: 0;
    right: 0;
    width: .4em;
    -webkit-transition: all .5s;
    opacity: 1;
}

/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    -webkit-transition: all .5s;
}

* {
    font-family: 'Poppins';
}

body {
    min-height: 100%;
    background-color: #FFFDF4;
    position: absolute;
    margin: 0%;
    min-width: 100%;
}

/*header*/



.logo {
    width: 75px;
    margin-left: 30px;
}

.chico .logo {
    width: 50px !important;
    margin-left: 0px;
}

/*idoma*/

.wrapper {
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.wrapper#ayuda {
    left: 60px;
}

.select-language {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #001834;
    position: relative;
}

.select-language .select-language-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
}

.select-language-container .eng {
    /*margin:-4px 0 0 -8px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

.select-language .select-language-container .uru {
    /*margin:-4px 0 0 -8px;*/
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-6%, -50%);
    width: 50px;
}

.wrapper#ayuda .select-language .select-language-container,
.wrapper#ayuda1 .select-language .select-language-container {
    background-color: #3048dbad;
}

.select-language .select-language-container p {
    /*margin:-4px 0 0 -8px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

#menu1 .select-language-container .uru {
    border: 1px solid #001834e5 !important;
}

#menu1 .select-language-container .eng {
    border: 1px solid #001834e5 !important;
}

.wrapper#menu1.slideup {
    z-index: 1 !important;
}

.wrapper#menu1.slidedown {
    z-index: -1 !important;
}

/*login*/

.login {
    height: 80%;
    width: 500px;
    align-items: center;
    background-color: #f1f1f1;
    box-shadow: 0px 1px 0.9em #0013a77f;
    border-radius: 9px;
    min-height: 600px;
}

.dentro {
    min-height: calc(100vh - 150px);
}

@media screen and (max-width: 768px) {
    .login {
        width: 94%;
        height: 90%;
        min-width: 300px;
    }

    .dentro {
        min-height: 100vh;
    }

    .group {    
        width: 85% !important;
    }

    .ingresar .caja1 {
        margin-left: 6.5% !important;
    }

    .login div.caja {
        height: 150px !important;
    }

    .wrapper {
        margin-left: 25 px;
        position: absolute;
        top: 1%;
    }

    .wrapper#ayuda1 {
        position: absolute;
        right: 0px !important;
        margin-right: 25px;
    }

    .martop{
        margin-top: 2% !important;
    }
}

.chico {
    height: 70px;
    margin-top: 40px;
}

.login div.caja {
    height: 200px;
    width: 85%;
    border-bottom: 1px outset #4d4d4d;
}

.login div.caja h3 {
    font-size: 40px;
    font-weight: 1000;
    cursor: default;
    text-align: center;
}

.login div.caja h3 .bar {
    position: relative;
    display: block;
    width: 80%;


}

.ingresar {
    height: 210px;
}

.login .ingresar .olvido {
    font-size: larger;
    height: 30px;
    margin-top: 18px;
}

.login .ingresar .olvido p {
    right: 11%;
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rol {
    height: 50px;
    border-radius: 10px;
    background-color: #e5e5e5;
    box-shadow: 0px 1px 0.6em #0013a77f;
    cursor: pointer;
    z-index: 10;
}

/*input*/

#Ingresar .group {
    position: relative;
    margin-top: 60px;
    width: 70%;
}

#ListadeRol div.group {
    position: relative;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 70%;
}

.rol p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.group.Swal {
    position: relative;
    margin-top: 20px;
    width: 70%;
}

.input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: #f1f1f1;
}

.input.error {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid red;
    background-color: #f1f1f1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/*checkbox*/

.group--visibleToggle {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 10px;
    z-index: 1;
    appearance: none;
    outline: none;
    cursor: pointer;
    pointer-events: auto;
}

.group--visibleToggle-eye {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
    perspective: 1000px;
    overflow: hidden;
}

#ListadeRol div.group .rol .group--visibleToggle-eye {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 50%;
    perspective: 1000px;
    overflow: hidden;
    transform: translate(0, -50%);
}

.group--visibleToggle-eye.close {
    transition: 0.4s all ease-in-out;
}

.group--visibleToggle-eye.open {
    transition: 0.2s 0.2s all ease-out;
}

.group--visibleToggle-eye img {
    width: 100%;
}

.group--visibleToggle:checked~.group--visibleToggle-eye.close {
    transform: rotateX(180deg);
}

.group--visibleToggle:checked~.group--visibleToggle-eye.open {
    opacity: 0;
}

/*Boton*/

.button {
    padding: 12px 12px;
    cursor: pointer;
    transition: all 150ms linear;
    text-align: center;
    text-transform: capitalize;
    border-radius: 36px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px #e4e4e4;
    width: 60%;
    height: 50px;
}

.button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    transition: all 150ms linear;
    opacity: 0.85;
}

.button:active {
    transition: all 150ms linear;
    opacity: 0.75;
}

.button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}

.button.-blue {
    color: #FFFFFF;
    background: #416dea;
}

/*temaplate*/

.ceropad {
    padding: 0px;
}

.ceromar {
    margin: 0px;
}

.cuarenta {
    height: 40px;
}

.cienheig {
    height: 100vh;
}

.centrar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centrarhorizontalmente {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.centrar1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overflowy {
    overflow-y: auto;
}

.relative {
    position: relative;
}

.martop {
    margin-top: 15%;
}

.margintop {
    margin-top: 60px;
}